@import url('https://fonts.googleapis.com/css2?family=Gotu&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Baloo+Thambi+2&display=swap');


.titulo-sobre{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 60px;
    font-family: 'Gotu', sans-serif;
    font-weight: bold;
    text-align: center;
}

.perfil{
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin-left: 43%;
    margin-bottom: 20px;
    margin-top: 20px;
     
}

.descricao-autora{
    font-family: 'Baloo Thambi 2', cursive;
    font-size: 20px;
    margin-left: 10%;
    margin-right: 5%;
    text-align: center;
 
}

.projeto{
    font-size: 40px;
    margin-top: 20px;
}

.descricao-sobre{
    font-family: 'Baloo Thambi 2', cursive;
    margin-left: 15px;
    font-size: 20px;
    margin-bottom: 5px;
    text-align: center;
}





